<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <title>Tornei Disponibili</title>
	    <link rel="stylesheet" th:href="@{/css/style.css}" />
	</head>
<body>
    <nav th:replace="~{fragments/navbar :: main-nav}"></nav>

    <main class="container">

		<div
		  id="react-root"
		  data-view="tournaments"
		  th:attr="data-is-admin=${#authorization.expression('hasAuthority(''ADMIN'')')}"
		></div>

		        <script type="module">
		          import RefreshRuntime from 'http://localhost:5173/@react-refresh'
		          RefreshRuntime.injectIntoGlobalHook(window)
		          window.$RefreshReg$ = () => {}
		          window.$RefreshSig$ = () => (type) => type
		          window.__vite_plugin_react_preamble_installed__ = true
		        </script>

		        <script type="module" src="http://localhost:5173/@vite/client"></script>
		        
		        <script type="module" src="http://localhost:5173/src/main.jsx"></script>
		    </main>
		</body>
		</html>