<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Errore 403 - Operazione non autorizzata</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="icon" th:href="@{/images/favicon.ico}" />
</head>

<body>
	<div style="text-align: center; margin-top: 24px;">
		<a th:href="@{/}"><img th:src="@{/images/logo.png}" alt="Logo" class="logo-login"></a>
		<h2>Operazione non autorizzata</h2>
		<p th:text="${errorMessage}">Messaggio di errore.</p>
		<a th:href="@{/}">Torna alla home</a>
	</div>
</body>

</html>